section.s-about
	.container
		h2.title-section О нас
		.about.tabs
			.tabs__body.about__body
				.tab.tab--active.tab-shop
					p.text Интернет-магазин Baby-Toys занимается продажей зимнего и летнего транспорта для детей и их родителей. Компания работает на рынке уже больше 15 лет. За это время мы составили уникальный ассортимент товаров на любой вкус и кошелек. От классических велосипедов и санок до оригинальных беговелов и приобретающих все большую популярность снегокатов!
					p.text Активный отдых — важная составляющая жизни современного человека. Совместные прогулки с детьми, катание на самокате или коньках повышает настроение, развивает силу и ловкость и способствует дружескому общению. Мы прекрасно понимаем это, поэтому предлагаем лучшие транспортные средства ведущих мировых производителей. Самые яркие, удобные, надежные и безопасные.
				.tab.tab-advantages
					p.text Огромный обновляемый ассортимент. На сайте в удобном электронном каталоге представлены роликовые и ледовые коньки, санки, скейтборды, самокаты, велосипеды, снегокаты, беговелы и многое другое.
					p.text Квалифицированный персонал. Здесь работают знатоки своего дела, которые любят профессию и прекрасно разбираются в особенностях представленного товара. В магазине всегда можно получить совет по выбору, информацию о характеристиках и особенностях эксплуатации заинтересовавшей модели.	
				.tab.tab-services
					p.text Привлекательная стоимость и регулярные распродажи для дополнительной выгоды. Для оптовиков — специальные условия заказа.Курьерская доставка по Москве уже в день покупки (от 5000 рублей — бесплатно), а также отправление товаров в регионы.
					p.text Собственный сервисный центр. Не нужно искать мастера, наши специалисты произведут все необходимые работы по ремонту или замене деталей на высшем уровне.
				.tab.tab-delivery
					p.text Вы можете оформить заказ самостоятельно на сайте либо по телефону.Заказы оформленные до 12 часов дня доставляются на следующий день, заказы оформленные после 12 часов дня доставляются через день. Возможна срочная доставка в день заказа, по договоренности, стоимость – 600 гривень.
					p.text После оформления заказа на сайте с Вами свяжется наш менеджер для уточнения деталей заказа и времени доставки.
			ul.tabs-navigation.about-navigation
				li(show-tab="tab-shop").about-navigation__item.tabs-navigation__item.tabs-navigation__item--active Интеренет магазин
				li(show-tab="tab-advantages").about-navigation__item.tabs-navigation__item Наши преимущества
				li(show-tab="tab-services").about-navigation__item.tabs-navigation__item Сервис
				li(show-tab="tab-delivery").about-navigation__item.tabs-navigation__item Доставка
			