include _mixins
section.s-advantages
	.container
		.advantages
			.advantage
				+icon('medal', 'advantage__icon')
				.advantage__body
					span.advantage__title Гарантия
					span.advantage__descr качества всех товаров
			.advantage
				+icon('shopping-bag', 'advantage__icon')
				.advantage__body
					span.advantage__title Доставка 
					span.advantage__descr по Лондону и пригородам
			.advantage
				+icon('wallet', 'advantage__icon')
				.advantage__body
					span.advantage__title Оплата 
					span.advantage__descr онлайн и наличными