include _mixins
footer.footer
	.footer__main
		.container
			.footer__main-wrapper
				.footer__item
					ul.footer-nav
						+footerNavLink('', 'Самокаты')
						+footerNavLink('', 'Беговелы')
						+footerNavLink('', 'Велосипеды')
						+footerNavLink('', 'Роликрвые коньки')
						+footerNavLink('', 'Скейты')
						+footerNavLink('', 'Батуты')
						+footerNavLink('', 'Детский спорт и отдых')
						+footerNavLink('', 'Аксессуары и запчасти')
				.footer__item
					ul.footer-nav
						+footerNavLink('', 'О компании')
						+footerNavLink('', 'Доставка')
						+footerNavLink('', 'Оплата')
						+footerNavLink('', 'Поставщикам')
						+footerNavLink('', 'Новости')
						+footerNavLink('', 'Отзывы')
				.footer__item
					ul.footer-nav
						+footerNavLink('', 'Контакты')
						+footerNavLink('', 'Вопросы и ответы')
						+footerNavLink('', 'Карта сайта')
					span.footer__address Лондон, Бейкер стрит, д. 8, к. 11
				.footer__contacts
					.footer__phones
						a(href="tel :88007707017").footer__phone 8 (800) 770 70 17 
						span.footer__text Звонок бесплатный
						span.footer__text 8(095) 123 77 70
					a(href="mailto:sale@baby-toys.ru").footer__mail sale@baby-toys.ru
	.footer__socials
		.container
			ul.socials
				li.socials__item
					a(href="#").socials__link
						img(src="assets/img/socials/instagram.svg", alt="alt").socials__icon
					span.socials__name Instagram
				li.socials__item
					a(href="#").socials__link
						img(src="assets/img/socials/facebook.svg", alt="alt").socials__icon
					span.socials__name Facebook
				li.socials__item
					a(href="#").socials__link
						img(src="assets/img/socials/odnokl.svg", alt="alt").socials__icon
					span.socials__name Одноклассники
				li.socials__item
					a(href="#").socials__link
						img(src="assets/img/socials/vk.svg", alt="alt").socials__icon
					span.socials__name Вконтакте
			.yandex-market
				img(src="assets/img/socials/ya-market.svg", alt="alt").yandex__icon
				a.btn.btn--small.btn--transparent-gray.btn--inline Оставить отзыв
	.footer__bottom
		.container
			.copyright
				span.copyright &copy; 2010-2018 «Baby-Toys»  Все права защищены.Информация сайта защищена законом об авторских правах.
				a(href="#").footer__personal-data Политика обработки персональных данных.