section.s-category-slider
	.container
		.category-slider
			.category-slider__header
				.category-slider__title Официальные дилеры Micro, PUKY, Hudora, Globber
			.category-slider__body
				.js-category-slider
					each slider in [{icon:'tag',name:'Найдите дешевле - мы сделаем скидку'},{icon:'fast-delivery',name:'Доставка по Лондону день в день, на слелующий день, через день'},{icon:'recommended',name:'Расширенная европейская гарантия от производителя'},{icon:'medal',name:'Официальный сервисный центр'},{icon:'customer-service', name:'Профессиональная консультация от продавцов'},{icon:'map',name:'Доставка по всей Британии'}]
						.category-slider__item
							+icon(slider.icon, 'category-slider__icon')
							span.category-slider__text=slider.name
			.category-slider__dots