section.s-brands
	.container
		.brands
			h3.title-page Бренды  
			ul.brands__list
				each brand in [{img:'puky', name:'PUKY'}, {img:'strider', name:'Strider'},{img:'merida', name:'Merida'}, {img:'scool', name:'Scool'},{img:'micro', name:'Micro'},{img:'stiga', name:'STIGA'}, {img:'puky', name:'PUKY'}, {img:'strider', name:'Strider'},{img:'merida', name:'Merida'}, {img:'scool', name:'Scool'},{img:'micro', name:'Micro'},{img:'stiga', name:'STIGA'}, {img:'puky', name:'PUKY'}, {img:'strider', name:'Strider'},{img:'merida', name:'Merida'}, {img:'scool', name:'Scool'},{img:'micro', name:'Micro'},{img:'stiga', name:'STIGA'}, {img:'puky', name:'PUKY'}, {img:'strider', name:'Strider'},{img:'merida', name:'Merida'}, {img:'scool', name:'Scool'},{img:'micro', name:'Micro'},{img:'stiga', name:'STIGA'}]
					li.brands__item
						a(href="#").brand
							img(src=`assets/img/general/brands/${brand.img}.png`).brand__img
							span.brand__name=brand.name
			.content-block
				h3.title-page Сео текст по брендам
				p.text Интернет-магазин Baby-Toys предлагает широчайший выбор детского транспорта. В каталоге вы найдете лучшие велосипеды, самокаты, беговелы от ведущих производителей Европы и Китая по конкурентоспособным ценам. В наличии представлены модели самых разных типов, предназначенные для любого возраста. Подарите своему ребенку ни с чем не сравнимую радость движения!
				p.text Велосипеды по-прежнему остаются для детей одними из самых желанных подарков. И девочки и мальчики мечтают об одном из таких «друзей». Такая покупка подарит ребенку массу удовольствия и радости. Кроме того, это еще и полезный подарок. Велопрогулки помогают ребенку развиваться и поддерживают его в хорошей физической форме, тренируют сердце, оказывают положительное воздействие на формирование осанки. Детский велосипед помогает улучшить координацию, развивают мышцы, а еще дают выход для неуемной энергии ребенка.