.product-prev__img
	+dem(200px, 100px)
	max-width: 100%
	outline: none
.product-prev
	padding: 20px
	padding-top: 190px
	position: relative
	transition: all linear 0.3s
	margin: 10px 15px 30px
	&:hover
		box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 10px 20px 0 rgba(0,0,0,0.05)
	&:focus
			outline: none
	&__header
		position: absolute
		left: 20px
		top: 20px
		right: 20px
		height: 160px
	&__title
		font-weight: 600
		line-height: 1.43
	&__info
		display: flex
		flex-direction: column
		position: absolute
		top: 0
		left: 0
		right: 0
	&__body
		position: relative
		padding-top: 90px
		margin-bottom: 20px
	&__price
		display: flex
		align-items: baseline
		margin-bottom: 20px
		& > *
			margin-right: 10px
			&:last-child
				margin-right: 0
		&-current
			color: $blaze-orange
			+rem(20px)
			font-weight: 600
		&-old
			+rem(13px)
			text-decoration: line-through
			color: $tundora
	&__color
		display: block
		+square(20px)
		border-radius: 2px
		outline: none
		cursor: pointer
	&__colors
		.slick-dots
			display: flex
			li
				border: 1px solid transparent
				border-radius: 2px
				padding: 2px
				&.slick-active
					border-color: $tundora
	&__img
		max-height: 160px
		&:focus
			outline: none
				