extends ../_template

block variables
	- var title = 'Товар'
	- var pageClass = 'brand-page'

block content
	//include ../elements/_debug
	include ../common/_header
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="index.html").breadcrumbs__link Главная
				li.breadcrumbs__item
					a(href="brands.html").breadcrumbs__link Бренды
				li.breadcrumbs__item
					span.breadcrumbs__current Puky
	section.s_brands
		.container
			h1.title-page Pucky
			.brand-info
				.brand__logo
					img.brand__img(src='assets/img/general/brands/puky.png', alt='puky')
				.brand__descr
					p.text Детский транспорт #b[PUKY] производится в Германии из европейских комплектующих уже более 60 лет. Ежегодно в Европе продается более полумиллиона единиц. Сегодня PUKY – это транснациональная компания, в которой традиции качества подкреплены современным высокотехнологичным производством.
					p.text В отличие от большинства современных производителей, PUKY не закладывает в конструкцию технологии прогнозируемого старения. Это значит, что при минимальном уходе транспорт PUKY послужит еще и младшим братьям и сестрам Вашего ребенка. А когда вырастут и они, его можно будет подарить знакомым или даже продать.
					p.text Транспорт PUKY® разрабатывается, конструируется и производится только в Германии из европейских комплектующих. Это хорошо продуманная концепция, гарантирующая высокое качество продукции. Компания PUKY® основана в 1949 году, в Дюссельдорфе, а с 1960 года завод PUKY® располагается в городе Вюльфрат, Германия.
				.brand__certificates
					span.brand__certificates-label Сертификаты соответствия:
					.brand__certificate
						img.brand__certificate-img(src='assets/img/general/sertificate.jpg', alt='Сертификат')
			// brand__info
			.content_block
				h3.title_block Беговелы для детей
				p.text Конструкция очень схожа на обыкновенный двухколесный велосипед без педалей. Управление происходит при помощи руля. Купить велобег можно малышу, которому уже исполнился 1 год. Основным элементом велобега является рама, которая очень похожа на велосипедную. Она может быть из металла или пластика.

				p.text К раме часто крепят ручной тормоз. Однако существуют модели и без тормозов. Беговел может иметь подставку для ног и упор. Руль и сиденье регулируемые. Таким образом, одного беговела вполне хватит на 1-3 года. После чего ребенок сможет пересесть на двухколесный велосипед.

				p.text Одним из преимуществ подобной конструкции является то, что скорость езды ребенок может устанавливать по своему усмотрению. Ситуация, когда разогнавшись на беговеле малыш не сможет остановиться, полностью исключена. Для того чтобы затормозить нужно просто упереться ногами в землю или воспользоваться ручным тормозом. Оба варианта достаточно надежны. Падения детей с велобегов случаются крайне редко.
			include ../elements/_border-line-slider-1
			include ../elements/_border-line-slider-2
				
	include ../common/_footer