extends ../_template

block variables
  - var title = 'baby-toys'
  - var pageClass = 'index-page'

block content
  //include ../elements/_debug
  include ../common/_header
  include ../common/_banner
  include ../common/_advantages
  include ../common/_hits
  include ../common/_information
  include ../common/_about
  include ../common/_footer
  
  
