include ../common/_mixins
.products-border-line-slider
	.products-border-line-slider__header
		h2.title-section Другие товары
		.products-border-line-slider__navigation
			.products-border-line-slider__btn.products-border-line-slider__btn--prev
				+icon('chevron-left', '.products-border-line-slider__icon')
			.products-border-line-slider__btn.products-border-line-slider__btn--next
				+icon('chevron-right', '.products-border-line-slider__icon')
	.js-products-border-line-slider
		include _prev-1
		include _prev-2
		include _prev-3
		include _prev-4
		include _prev-1
		include _prev-2
		include _prev-3
		include _prev-4
	