include ../common/_mixins

.header__mobile
	.container
		.header__mobile-wrapper
			nav.mobile-nav
				.mobile-nav__header
					.mobile-nav__sandwich.sandwich
						.sandwich__line.sandwich__line--top
						.sandwich__line.sandwich__line--middle
						.sandwich__line.sandwich__line--bottom
					span.mobile-nav__title Каталог товаров
				.mobile-nav__body
					ul.mobile-nav__list
			.search
				form.search__form
					.search__input-wrapper
						input(placeholder='Я хочу купить...').search__input
						.search__clear
							+icon('cancel', 'search__clear-icon')
					input(type='submit' value="Найти").search__btn
