include ../common/_mixins
.main-nav__dropdown-wrapper
	.main-nav__dropdown
		.main-nav__col
			ul.main-subnav__list
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text Взрослые самокаты
						+icon('chevron-right', 'main-subnav__icon')
					ul.main-subnav__list
						li.main-subnav__item
							a(href="#").main-subnav__link 
								span.main-subnav__text Взрослые двухкопесные самокаты
								+icon('chevron-right', 'main-subnav__icon')
						li.main-subnav__item
							a(href="#").main-subnav__link 
								span.main-subnav__text Взрослые трехколесные самокаты
								+icon('chevron-right', 'main-subnav__icon')
						li.main-subnav__item
							a(href="#").main-subnav__link 
								span.main-subnav__text Взрослые самокаты с большими колесами
								+icon('chevron-right', 'main-subnav__icon')
						li.main-subnav__item
							a(href="#").main-subnav__link 
								span.main-subnav__text Взрослые самокаты с надувными колесами
								+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text Детские самокаты
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text Горолские самокаты
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text Складные самокаты
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text Трюковые самокаты
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text  Электросамокаты
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text  Самокаты с двумя амортизаторами
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text  Самокаты Gibber
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text  Самокаты Micro
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text  Самокаты от года
						+icon('chevron-right', 'main-subnav__icon')
				li.main-subnav__item
					a(href="#").main-subnav__link 
						span.main-subnav__text  Самокаты Puky
						+icon('chevron-right', 'main-subnav__icon')