.product-prev
	.product-prev__header
		.js-product-prev__slider
			img.product-prev__img(src="assets/img/general/products/2.png", alt="Изображение товара", data-color="#000")
			img.product-prev__img(src="assets/img/general/products/2.png", alt="Изображение товара", data-color="#fff")
	.product-prev__body
		.product-prev__info
			span.product-prev__title Беговел LR Ride алюминиевый
			span.product-prev__country Германия
		.product-prev__price
			.product-prev__price-current 17990 грн.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину