.product-prev
	.product-prev__header
		.js-product-prev__slider
			.product-prev-img__wrapper(data-color="#ff5ec9")
				img.product-prev__img(src="assets/img/general/products/4.png", alt="Изображение товара", data-color="#ff5ec9")
			.product-prev-img__wrapper(data-color="#7ed321")
				img.product-prev__img(src="assets/img/general/products/4.png", alt="Изображение товара", data-color="#7ed321")
	.product-prev__body
		.product-prev__info
			span.product-prev__title Беговел Puky Pukylino
			span.product-prev__country Германия
		.product-prev__price
			.product-prev__price-current 3990 грн.
			.product-prev__price-old 3990 грн.
		.product-prev__colors
	.product-prev__footer
		button.btn В корзину